{{ "<!-- ENTERING layouts/post/summary.html -->" | safeHTML }}
<article>
	
	<div class="mdl-card bnr-speeding-train-mono mdl-cell mdl-cell--12-col">
    	<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    	</div>
	    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">{{ .Summary }} <a href="{{ .RelPermalink }}">&#10087; Read More...</a></div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<span><strong>{{ if eq .Params.showauthor "true" }}{{ if .Params.author }}By <a {{ if .Params.authorlink }}href="{{ .Params.authorlink }}"{{ end }}>{{ .Params.author }}</a>{{ end }}{{ end }}</strong>
				on {{ if eq .Params.showdate "true" }} {{ .Date.Format "2" }} {{ .Date.Format "Jan" }}, {{ .Date.Format "2006" }} {{ end }} {{ if eq .Params.showreadingtime "true" }} <i class="fa fa-clock-o"></i> <em>{{.ReadingTime}} min. read</em> {{ end }}</span>
				{{ if .Params.topics }}
      			<div class="post-topics">
				{{ $Site := .Site }}
      			{{ range .Params.topics }}
				<a class="post-topic post-topic-{{ . | urlize }}" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
      			{{ end }}
      			</div>
      			{{ end }}
	      	</div>
    	</div>
  	</div>
			
</article>
{{ "<!-- LEAVING layouts/post/summary.html -->" | safeHTML }}

