{{ "<!-- ENTERING index.html -->" | safeHTML }}
{{ partial "header.html" . }}
<body class="charcoal bg-teal">
{{ partial "bodytop.html" . }}
{{ partial "headerbanner1.html" . }}
{{ partial "hometop.html" . }}

<main class="m0 p4 bg-lightpaperfibers">
  <section id="latest-post" class="p0 m0 center">
    <header class="mt3 mb1 py1 border-bottom">
      <h2 class="big-title text-shadow h2-responsive sans m0 rice-paper-dark">2nd The Latest, <span class="rice-paper-light italic">& Freshest</span><svg class="rice-paper-light"><use xlink:href="/img/symbol-defs.svg#icon-feather2" /></svg></h2>
    </header>
    <div class="clearfix">
      {{ range first 1 .Site.Pages }}
      <div class="sm-col sm-col-12 md-col-2 lg-col-3 px2">
        <svg class="latest-accent-svg-icon"><use xlink:href="/img/symbol-defs.svg#{{ .Params.postsvg }}" /></svg>
      </div>

      <div class="sm-col-right sm-col-12 md-col-10 lg-col-9 px2 align-top left-align">
      <h3 class="h2 h2-responsive m1">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
      <p class="deco italic m1 large">{{ .Params.postsummary | markdownify }}</p>
      <div class="right p0 m0">
        <p><a href="{{ .RelPermalink }}" class="deco">Read More&hellip;</a></p>
      </div>
      <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}
        <br>In
        {{ $Site := .Site }}
        {{ if .Params.topics }}
        <span class="posttopics">
        {{ range .Params.topics }}
            <a class="bold inline-block px1 rounded bg-topic-{{ . | urlize }} muted" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        </span>
        {{ end }}
      </p>

    </div>
    {{ end }}
    </div>
  </section>

  <section id="still-fresh-posts" class="py1 mt1">
    <header class="mt3 mb1 py1 border-bottom">
      <h2 class="h2-responsive m0 text-shadow rice-paper-medium"><span class="italic">Still</span> Fresh</h2>
    </header>
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-4 px2">
        {{ range $index, $element := first 7 (where .Site.Pages "Section" "post") }}
        {{ if (eq $index 1) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ if (eq $index 2) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ end }}
      </div>

      <div class="sm-col sm-col-4 px2">
        {{ range $index, $element := first 7 (where .Site.Pages "Section" "post") }}
        {{ if (eq $index 3) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ if (eq $index 4) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ end }}

      <div class="sm-show">
        <div class="rccpagination sans btn btn-primary bg-darken-1">
          <a href="/post" class="left">
            <svg><use xlink:href="/img/symbol-defs.svg#icon-arrow-left" /></svg>
            Older
          </a>
        </div>
      </div>
      </div>

      <div class="sm-col sm-col-4 px2">
        {{ range $index, $element := first 7 (where .Site.Pages "Section" "post") }}
        {{ if (eq $index 5) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ if (eq $index 6) }}
        <h3 class="h3-responsive m1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="italic m1">{{ .Params.postsummary | markdownify }}</p>
        <div class="right p0 m0">
          <p><a href="{{ .RelPermalink }}" class="deco"><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-right" /></svg></a></p>
        </div>
        <p class="deco italic m1">By <a href="/about">{{ .Params.author }}</a>, on {{ .Date.Format "2-Jan-2006" }}</p>
        {{ end }}
        {{ end }}

        <div class="sm-hide">
          <div class="rccpagination sans btn btn-primary bg-darken-1">
            <a href="/posts" class="left">
              <svg><use xlink:href="/img/symbol-defs.svg#icon-arrow-left" /></svg>
              Older
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>

{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}

</body>
</html>
{{ "<!-- LEAVING index.html -->" | safeHTML }}
