
// Typography

// Font Sizes
// $heading2-font-size: em(28);
// $article-font-size: em(18);
// $small-font-size: em(14);
// $recommended-reading-font-size: em(22);

// Font sizes covered in TypePlate vars

// Other Sizes
$base-border-radius: 6px;
$base-spacing: $typl8-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$teaser-image-size: 100% 228px;
$main-image-size: 100% 348px;
$content-image-size: 100% 264px;
$author-image-size: 108px 108px;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$light-beige: #f7f6f1;
$darker-beige: desaturate(darken($light-beige, 30%), 30%);
$red: #E3857D;
$cyan: #00c6dc;
$menublue: #7dc3e0;

// Font Colors
$base-font-color: $typl8-copy-color;
$action-color: $cyan;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
