.post-category-japan {
	background: blue;
}
.post-category-web {
	background: red;
}
.post-category-social-media {
	background: #51b7ff;
}
.post-category-marketing {
	background: #159818;
}
.post-category-web-development {
	background: #3b4489;
}
.post-category-analytics {
	background: orange;
}
.post-category-application-architecture {
	background: #578b96;
}