.post-topic-japan {
	background: blue;
}
.post-topic-web {
	background: red;
}
.post-topic-social-media {
	background: #51b7ff;
}
.post-topic-marketing {
	background: #159818;
}
.post-topic-web-development {
	background: #3b4489;
}
.post-topic-analytics {
	background: orange;
}
.post-topic-application-architecture {
	background: #578b96;
}