.post-topic-japan {
	background: #cc0808;
}
.post-topic-web {
	background: #dda92e;
}
.post-topic-social-media {
	background: #51b7ff;
}
.post-topic-marketing {
	background: #159818;
}
.post-topic-web-development {
	background: #3b4489;
}
.post-topic-analytics {
	background: #d69c11;
}
.post-topic-application-architecture {
	background: #578b96;
}

.post-topic-professional {
    background: #2d5b6b;
}

.post-topic-business {
    background: #9f4732;
}

.post-topic-humor {
    background: #c47a52;
}

.post-topic-productivity {
    background: #7c7d2a;
}

.post-topic-software {
    background: #1aa3a3;
}

.post-topic-service {
    background: #0da082;
}

.post-topic-troubleshooting {
    background: #a3a31a;
}

.post-topic-tips {
    background: #1aa35f;
}

.post-topic-design {
    background: #154196;
}

.post-topic-places {
    background: #0d6ed1;
}

.post-topic-popular {
    background: #ff9905;
}

.post-topic-process {
    background: #d17c00;
}

.post-topic-gadgets {
    background: #95c93d;
}

.post-topic-errata {
    background: red;
}

.post-topic-culture {
    background: #5b5e1b;
}

.post-topic-efficiency {
    background: #e23636;
}

.post-topic-sysadmin {
    background: #518cca;
}

.post-topic-upgrades {
    background: #ae432f;
}

.post-topic-photography {
    background: #f78f3f;
}

.post-topic-personal {
    background: #974908;
}

.post-topic-celebration {
    background: #cc1c31;
}

.post-topic-health {
    background: #ff5500;
}

.post-topic-cycling {
    background: #649046;
}

.post-topic-family {
    background: #c56d00;
}

.post-topic-food-and-drink {
    background: #173a0f;
}

.post-topic-music {
    background: #510000;
}

.post-topic-performance {
    background: #950096;
}

.post-topic-emergency {
    background: red;
}

.post-topic-disaster {
    background: #856cf4;
}

.post-topic-reviews {
    background: #4463b2;
}

.post-topic-featured {
    background: green;
}

.post-topic-weird {
    background: #5235b2;
}

.post-topic-technology {
    background: #db600e;
}

.post-topic-art {
    background: #209396;
}

.post-topic-street {
    background: #430647;
}

.post-topic-mobile {
    background: #4b5794;
}

.post-topic-language {
    background: #e58712;
}

.post-topic-security {
    background: #e1560a;
}

.post-topic-site {
    background: #666666;
}
