.bg-topic-japan {
	background-color: var(--topic-japan);
}
.bg-topic-fitness {
	background-color: var(--topic-fitness);
}
.bg-topic-web {
	background-color: var(--topic-web);
}
.bg-topic-social-media {
	background-color: var(--topic-social-media);
}
.bg-topic-marketing {
	background-color: var(--topic-marketing);
}
.bg-topic-web-development {
	background-color: var(--topic-web-development);
}
.bg-topic-analytics {
	background-color: var(--topic-analytics);
}
.bg-topic-application-architecture {
	background-color: var(--topic-application-architecture);
}
.bg-topic-professional {
    background-color: var(--topic-professional);
}
.bg-topic-business {
    background-color: var(--topic-business);
}
.bg-topic-humor {
    background-color: var(--topic-humor);
}
.bg-topic-productivity {
    background-color: var(--topic-productivity);
}
.bg-topic-software {
    background-color: var(--topic-software);
}
.bg-topic-service {
    background-color: var(--topic-service);
}
.bg-topic-troubleshooting {
    background-color: var(--topic-troubleshooting);
}
.bg-topic-tips {
    background-color: var(--topic-tips);
}
.bg-topic-design {
    background-color: var(--topic-design);
}
.bg-topic-places {
    background-color: var(--topic-places);
}
.bg-topic-popular {
    background-color: var(--topic-popular);
}
.bg-topic-process {
    background-color: var(--topic-process);
}
.bg-topic-gadgets {
    background-color: var(--topic-gadgets);
}
.bg-topic-errata {
    background-color: var(--red);
}
.bg-topic-culture {
    background-color: var(--topic-culture);
}
.bg-topic-efficiency {
    background-color: var(--topic-efficiency);
}
.bg-topic-sysadmin {
    background-color: var(--topic-sysadmin);
}
.bg-topic-upgrades {
    background-color: var(--topic-upgrades);
}
.bg-topic-photography {
    background-color: var(--topic-photography);
}
.bg-topic-personal {
    background-color: var(--topic-personal);
}
.bg-topic-celebration {
    background-color: var(--topic-celebration);
}
.bg-topic-health {
    background-color: var(--topic-health);
}
.bg-topic-cycling {
    background-color: var(--topic-cycling);
}
.bg-topic-family {
    background-color: var(--topic-family);
}
.bg-topic-food-and-drink {
    background-color: var(--topic-food-and-drink);
}
.bg-topic-music {
    background-color: var(--topic-music);
}
.bg-topic-performance {
    background-color: var(--topic-performance);
}
.bg-topic-emergency {
    background-color: var(--red);
}
.bg-topic-disaster {
    background-color: var(--topic-disaster);
}
.bg-topic-reviews {
    background-color: var(--topic-reviews);
}
.bg-topic-featured {
    background-color: var(--topic-featured);
}
.bg-topic-weird {
    background-color: var(--topic-weird);
}
.bg-topic-technology {
    background-color: var(--topic-technology);
}
.bg-topic-art {
    background-color: var(--topic-art);
}
.bg-topic-street {
    background-color: var(--topic-street);
}
.bg-topic-mobile {
    background-color: var(--topic-mobile);
}
.bg-topic-language {
    background-color: var(--topic-language);
}
.bg-topic-security {
    background-color: var(--topic-security);
}
.bg-topic-site {
    background-color: var(--topic-site);
}
.bg-topic-travel {
	background-color: var(--topic-travel);
}
.bg-topic-analog {
    background-color: var(--topic-analog);
}
