{{ "<!-- ENTERING layouts/_default/single.html -->" | safeHTML }}
{{ partial "header.html" . }}
<body class="charcoal bg-teal">
{{ partial "bodytop.html" . }}
{{ partial "headerbanner1.html" . }}
<main role="main">
  <article>
    {{ partial "singletop.html" . }}
    <section id="articletext" class="m0 px4 bg-lightpaperfibers">
      <div id="articlelayout" class="py3">
        <div id="flexsetup" class="sm-flex mxn2">
          <div id="fauxsidebarcol" class="sm-col-4 px2">
            <aside id="metasidebar" role="complementary">
              <p class="deco bold h4">By <a href="/about">{{ .Params.author }}</a></p>
              <span class="deco">
              {{ .Date.Format "2-Jan-2006" }}
              {{ $Site := .Site }}
              {{ if .Params.topics }}
              <span class="posttopics">
              <br>
              {{ range .Params.topics }}
              <a class="bold inline-block px1 rounded bg-topic-{{ . | urlize }} muted" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
              {{ end }}
              </span>
              {{ end }}
              </span>
            </aside>
            <aside id="TableOfContents" role="complementary">
              {{ if eq .Params.showtoc "true" }}
              {{ if .TableOfContents }}
              <p class="deco bold h4 mt2">TOC</p>
              <div class="toc deco">
              {{ .TableOfContents }}
              </div>
              {{ end }}
              {{ end }}
            </aside>
          </div>
          <div id="mainarticlecol" class="post sm-col-8 px2">
            {{ .Content }}

            {{if isset .Params "gallery_id" }}
            {{ partial "gallery.html" . }}
            {{ end }}
            <aside id="authorinfofooter">
              <div class="deco p2 rounded-top bg-darkgrey center">
              <img class="p1 circle left" src="/img/rick-cogley-avatar-240x240.png" alt="Photo of Rick Cogley" width="100px"><p class="h3 caps white">About the Author</p>
              <p class="p1 white">I'm <a href="/about"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Rick Cogley</span></span></a>, and thanks for reading. I'm an experienced technologist, co-founder & -owner of <a href="http://www.esolia.com" target="_blank">eSolia Inc</a>. I'm from America originally, but have been helping people and companies succeed in Japan since 1987. I'm an avid jogger, lover of music and puzzles, and family man with a wonderful wife and daughters. I hope you'll share this post, comment on it, link to it, and maybe connect with me on other social sharing sites as well. Cheers!</p>
              </div>
            </aside>
            <aside id="metainfofooter">
              <div class="deco p2 rounded-bottom bg-rice-paper-light center">
                 {{ if eq .Params.showsocialsharing "true" }}
                     {{ partial "socialsharing.html" . }}
                 {{ end }}
                 {{ partial "post/tag/list" . }}
                 {{ if (not (isset .Params "hidepaging")) }}
                     <div class="paging">
                         {{ if .Prev }}
                         <div class="paging-newer">
                             <span class="bold">Next Newer: </span>
                             <a class="paging-link" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a>
                         </div>
                         {{ end }}
                         {{ if .Next }}
                         <div class="paging-older">
                             <span class="bold">Next Older: </span>
                             <a class="paging-link" href="{{ .Next.RelPermalink }}">{{ .Next.Title  }}</a>
                         </div>
                       {{ end }}
                     </div>
                 {{ end }}
               </div>
             </aside>

          </div>
        </div>
      </div>
    </section>
    <aside id="comments" class="m0 px4 bg-lightpaperfibers">
    {{ if eq .Params.showcomment "true" }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
    </aside>
  </article>
<main>

  {{ partial "footer.html" . }}
  {{ partial "bodyend.html" . }}
</body>
</html>
{{ "<!-- LEAVING layouts/_default/single.html -->" | safeHTML }}
