{{ "<!-- ENTERING layouts/_default/terms.html -->" | safeHTML }}
{{ partial "header.html" . }}
<body class="charcoal bg-teal">
{{ partial "bodytop.html" . }}
{{ partial "headerbanner1.html" . }}
{{ partial "listtop_default_terms.html" . }}

<main class="m0 p4 bg-lightpaperfibers">
  <h3 class="text-shadow h3-responsive sans m0 rice-paper-dark">Site {{ .Title }}</h3>
  <p>
    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <ul>
      <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> &nbsp; {{ $value.Count }} </li>
    </ul>
    {{ end }}
  </p>
  <aside>
    {{ if eq .Title "Topics" }}
      {{ partial "list_tags.html" . }}
    {{ end }}
    {{ if eq .Title "Tags" }}
      {{ partial "list_topics.html" . }}
    {{ end }}
  </aside>
</main>
{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}
</body>
</html>
{{ "<!-- LEAVING layouts/_default/terms.html -->" | safeHTML }}
