{{ "<!-- ENTERING partial bodytop.html -->" | safeHTML }}
 <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="nav-to-top" class="fixed right-0 mt2 p1 deco bold btn btn-primary rounded-left white bg-teal">
    <span><svg><use xlink:href="/img/symbol-defs.svg#icon-pointer-up" /></svg></span><a href="#top">To Top</a>
</div>
{{ "<!-- LEAVING partial bodytop.html -->" | safeHTML }}
