{{ "<!-- ENTERING partial footer.html -->" | safeHTML }}

<footer class="deco bold py2 m0 border-top white border-darken-4 bg-darken-4">
	<div class="flex items-baseline flex-wrap px1">
		<div class="px1 italic">This is RCC.</div>
		<!--{{ range .Site.Menus.footer }}-->
			<!--<a href="{{ .URL }}" class="button button-narrow button-small button-transparent ml1">{{ .Name }}</a>-->
		<!--{{ end }}-->
		<a href="/about" class="button button-narrow button-small button-transparent ml1">Bio</a>
		<a href="/colophon" class="button button-narrow button-small button-transparent ml1">Colophon</a>
		<a href="/license" class="button button-narrow button-small button-transparent ml1">License</a>

		<div class="flex-auto flex-sm center">
			<span class="socialicons flex-wrap">
				<span>Connect: </span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Let's work out on Strava">
					<a href="//www.strava.com/athletes/1097516" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank">
						<svg><use xlink:href="/img/symbol-defs.svg#icon-run" /></svg>
					</a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Follow me on Twitter">
					<a href="//twitter.com/rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank">
						<svg><use xlink:href="/img/symbol-defs.svg#icon-twitter" /></svg>
					</a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Follow me on Github">
					<a href="//github.com/rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-github" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Circle me on Google+">
					<a href="//plus.google.com/&#43;RickCogley?rel=author" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-google-plus3" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Friend me on Facebook">
					<a href="//www.facebook.com/rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-facebook2" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Connect with me on LinkedIn">
					<a href="//www.linkedin.com/in/rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-linkedin" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Browse my Photos on Flickr">
					<a href="//www.flickr.com/photos/rickcogley/" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-flickr2" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="View my Videos on Vimeo">
					<a href="//vimeo.com/rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-vimeo" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Subscribe to my Youtube Channel">
					<a href="//www.youtube.com/user/rickcogley?sub_confirmation=1" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-youtube" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Browse my Pinboard Pins">
					<a href="//pinboard.in/u:rickcogley" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-pushpin" /></svg></a>
				</span>
				<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Subscribe to the RSS Feed">
					<a href="/index.xml" class="btn btn-small btn-primary sans light bg-lighten-4" target="_blank"><svg><use xlink:href="/img/symbol-defs.svg#icon-rss" /></svg></a>
				</span>
			</span>
		</div>
		<div class="px1">
			&copy; 1966-{{ .Now.Year }}
			<a href="/about">
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Rick Cogley</span>
				</span>
			</a>
		</div>

	</div>
	<div class="bg-darken-1">
		<div class="m1 mx-auto">
			<div class="center">

				<span class="email-octopus-success-message"></span>
				<span class="email-octopus-error-message"></span>
				<form method="post" action="https://emailoctopus.com/lists/64dbf442-b268-11e5-b4ea-0a4287b2e8c5/members/external-add" class="email-octopus-form clearfix m1">
					<span>Get Email Updates: </span>
					<input type="email" name="emailAddress" class="col-4 email-octopus-email-address input bg-teal bg-lighten-1 rounded-left x-group-item" placeholder="Your Email Address">
					<button type="submit" class="btn btn-small btn-primary bg-lighten-2 rounded-right x-group-item">Subscribe</button>
					<div class="email-octopus-form-row-honeypot">
						<label>Protecting against bot signups - leave this field blank</label>
						<input type="text" name="hp64dbf442-b268-11e5-b4ea-0a4287b2e8c5" autocomplete="off">
					</div>

				</form>
			</div>
		</div>
	</div>

</footer>

{{ "<!-- LEAVING partial footer.html -->" | safeHTML }}
