{{ "<!-- ENTERING partial gallery.html -->" | safeHTML }}

<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<link href="/nano/nanogallery.woff.min.css" rel="stylesheet" type="text/css">
<link href="/nano/nanogallery.min.css" rel="stylesheet" type="text/css">
<link href="/nano/themes/clean/nanogallery_clean.woff.min.css" rel="stylesheet" type="text/css">
<link href="/nano/themes/clean/nanogallery_clean.min.css" rel="stylesheet" type="text/css">
<script  type="text/javascript" src="/nano/jquery.nanogallery.min.js"></script>

<h2>Gallery</h2>
<div class="gallery" id="nanoGallery2"></div>
<script type="text/javascript">
$(document).ready(function () {
    $("#nanoGallery2").nanoGallery({

      thumbnailWidth: 'auto',
      thumbnailHeight: 250,

      userID: 'rick.cogley@gmail.com', kind:'picasa',
      album: '{{ .Params.gallery_id }}',
      colorScheme: 'none',
      thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 300 }],
      theme: 'clean',
      thumbnailGutterWidth : 1,
      thumbnailGutterHeight : 1,
      i18n: { thumbnailImageDescription: 'View Photo', thumbnailAlbumDescription: 'Open Album' },
      thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center' }
    });
  });

</script>
{{ "<!-- LEAVING partial gallery.html -->" | safeHTML }}
