{{ "<!-- ENTERING partial headerbanner1.html -->" | safeHTML }}
<header role="banner" class="clearfix px4 m0 white bg-gradient-greenblue2">
<div class="flex flex-center py4">
  <div class="flex-auto">
    <div class="h1 sans bold caps flex flex-center m0">RCC</div>
    <nav role="navigation" class="rccnav mxn1 clearfix align-baseline">
      {{ range .Site.Menus.main }}
      <span class="r-Tooltip r-Tooltip--bottom r-Tooltip--nowrap" data-r-tooltip="{{ .Pre }}">
        <a href="{{ .URL }}" class="btn btn-primary px1 sans light bg-darken-2">{{ .Name }}</a>
      </span>
      {{ end }}
    </nav>
  </div>
  <div class="clearfix sm-hide"></div>
  <div class="overflow-hidden px2 py1" role="search">
    <input type="text" class="right fit field white sans light bg-darken-2" placeholder="Search">
  </div>
  <span class="r-Tooltip r-Tooltip--bottom r-Tooltip--nowrap" data-r-tooltip="RCC Home">
  <a href="{{ .Site.BaseURL }}"><img src="img/rcc-logo-1.svg" width="40" class="m0 p1 bg-lighten-4 rounded"></a>
  </span>
</div>
</header>
<a name="top"></a>
{{ "<!-- LEAVING partial headerbanner1.html -->" | safeHTML }}
