{{ "<!-- ENTERING partial header.html -->" | safeHTML }}
{{ partial "doctype.html" . }}
<head>
  <base href="{{ .Site.BaseUrl }}">
  <title>
    {{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- RSS -->
  <!-- <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> -->
  {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

  {{ partial "meta.html" . }}
  {{ partial "seo-og.html" . }}
  {{ partial "seo-schema.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/base-min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/rickcogleyinfo.css">
  {{ if .Site.Params.topicscss }}
  <link rel="stylesheet" type="text/css" href="{{ .Site.Params.topicscss }}">
  {{ end }}
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,500,100italic,400italic,500italic|Alegreya:400,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/RCC-apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Syntax highlight, lightbox, gallery -->
  {{ partial "syntaxhighlight.html" . }}
  {{ if .Params.lightbox }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/lightbox.css">
    <script src="{{ .Site.BaseURL }}/js/lightbox.min.js"></script>
  {{ end }}
  
  {{if isset .Params "gallery_id" }}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="{{ .Site.BaseURL }}/nano/nanogallery.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/nano/themes/clean/light.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/nano/themes/clean/nanogallery_clean.min.css" rel="stylesheet" type="text/css">
    <script  type="text/javascript" src="{{ .Site.BaseURL }}/nano/jquery.nanogallery.min.js"></script>
  {{ end }}

  {{ partial "headend.html" . }}
</head>
{{ "<!-- LEAVING partial header.html -->" | safeHTML }}
