{{ "<!-- ENTERING partial header.html -->" | safeHTML }}
<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <!-- IN .HTACCESS!! <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
  <title>{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}">
  <meta name="keywords" content="{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Load type faces -->
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,500,100italic,400italic,500italic|Alegreya:400,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- Load CSS -->
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/rickcogleyinfo.css">
  {{ if .Site.Params.topicscss }}<link rel="stylesheet" type="text/css" href="{{ .Site.Params.topicscss }}">{{ end }}
  <link rel="stylesheet" href="/css/prism.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- JQUERY and UTILITIES -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

  <!-- lightbox, gallery -->
  {{ if .Params.lightbox }}
  <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
  <script src="/js/lightbox.min.js"></script>
  {{ end }}

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {{ if .Params.author }}<meta name="author" content="{{ .Params.author }}">{{ end }}
  {{ .Hugo.Generator }}
  <!-- <base href="{{ .Site.BaseUrl }}/"> -->
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- RSS -->
  <!-- <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> -->
  {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
  <link href="http://gmpg.org/xfn/11" rel="profile">

  {{ partial "seo-og.html" . }}
  {{ partial "seo-schema.html" . }}
  {{ partial "seo-twittercard.html" . }}
  {{ partial "seo-googlenews.html" . }}

  {{ partial "headend.html" . }}
</head>
{{ "<!-- LEAVING partial header.html -->" | safeHTML }}
