{{ "<!-- ENTERING partial header.html -->" | safeHTML }}
{{ partial "doctype.html" . }}
<head>
  <base href="{{ .Site.BaseUrl }}">
  <title>
    {{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- RSS -->
  <!-- <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> -->
  {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

  {{ partial "meta.html" . }}
  {{ partial "seo-og.html" . }}
  {{ partial "seo-schema.html" . }}
  {{ partial "seo-twittercard.html" . }}
  {{ partial "seo-googlenews.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/base-min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/rickcogleyinfo.css">
  {{ if .Site.Params.topicscss }}
  <link rel="stylesheet" type="text/css" href="{{ .Site.Params.topicscss }}">
  {{ end }}
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css">
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,500,100italic,400italic,500italic|Alegreya:400,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Syntax highlight, lightbox, gallery -->
  {{ partial "syntaxhighlight.html" . }}
  {{ if .Params.lightbox }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/lightbox.css">
    <script src="{{ .Site.BaseURL }}/js/lightbox.min.js"></script>
  {{ end }}
  
  {{if isset .Params "gallery_id" }}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="{{ .Site.BaseURL }}/nano/nanogallery.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/nano/themes/clean/light.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/nano/themes/clean/nanogallery_clean.min.css" rel="stylesheet" type="text/css">
    <script  type="text/javascript" src="{{ .Site.BaseURL }}/nano/jquery.nanogallery.min.js"></script>
  {{ end }}

  {{ partial "headend.html" . }}
</head>
{{ "<!-- LEAVING partial header.html -->" | safeHTML }}
