{{ "<!-- ENTERING partial hometop.html -->" | safeHTML }}
<section id="intro" class="bg-white m0 p0">
    <div class="clearfix">
      <div class="sm-col sm-col-12 md-col-3 lg-col-4 top-intro-side-image fit">
        <img src="img/Cogley-Post-Omikuji-20140518-800-mono.png" />
      </div>
      <div class="mb2 sm-col-right sm-col-12 md-col-9 lg-col-8 px4 mt3 align-top top-page-side-picture-text">
        <svg class="right mt2 top-accent-svg-icon"><use xlink:href="/img/symbol-defs.svg#icon-blog" /></svg>
        <h1 class="h1-responsive mt1">
          Welcome to
        </h1>
        <h2 class="italic light mt0"><a href="/about">Rick Cogley</a> Central</h2>
        <p><span class="sans italic">Thanks for stopping by!</span> This is where I write about my experiences with the technology and tech techniques I use, my hobbies & pasttimes, and my life in Japan. </p>
        <blockquote>I am the master of my fate: I am the captain of my soul. <br>—from "Invictus" by W.E. Henley</blockquote>
        <p>I've been helping businesses and visitors in Japan since 1987, and am the co-founder and <abbr title="Chief Executive Officer">CEO</abbr> of <a href="http://www.esolia.com" target="_blank">eSolia Inc</a>, my IT management firm. I like to create, manage, negotiate, drum, run, cycle and pay attention to the details. More oversharing on my <a href="/about" rel="author">bio page</a>, if you're so inclined.
        </p>
        <p>I hope you'll find something informative in my content. <svg><use xlink:href="/img/symbol-defs.svg#icon-dice2" /></svg></p>

      </div>
    </div>
</section>
{{ "<!-- LEAVING partial hometop.html -->" | safeHTML }}
