<div class="content-banner-image">
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-Totsuka-Mono.jpg" alt="JR Totsuka Station">
  </div>

  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-Obi-Mono.jpg" alt="Beautiful Obi Belt for a Formal Kimono">
  </div>
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-Fire-Mono.jpg" alt="Fire Sign for Fire Fighter Practice">
  </div>
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-KamakuraOyomesan-Mono.jpg" alt="Oyomesan Bride at Tsurugaoka Hachiman in Kamakura Japan">
  </div>

  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-HaseJizo-Mono.jpg" alt="Jizo Statues at Hase Temple in Kamakura">
  </div>
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-MomDad-Mono.jpg" alt="Mom and Dad at Nags Head NC">
  </div>
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-Enoden-Mono.jpg" alt="Enoden at Hase Station in Kamakura Japan">
  </div>
  <div class="pure-u-1-4 pure-u-lg-1-8">
      <img class="pure-img" src="/img/Cogley-TopPhotos-MinatoMiraiPoem-Mono.jpg" alt="Minato Mirai 21 Yokohama German Poem">
  </div>
</div>

