{{ "<!-- ENTERING partial listtop_default_section.html -->" | safeHTML }}
<section id="sectiontop" class="py2 px4 m0 border-bottom white bg-darkgrey border-darken-4">
{{ if eq .Title "Posts" }}
  <img class="sm-show right p2 circle" src="/img/Cogley-TopPhotos-Obi-Color.jpg" alt="Beautiful Obi Belt for a Formal Kimono">
  <img class="sm-hide center p2 circle" src="/img/Cogley-TopPhotos-Obi-Color.jpg" alt="Beautiful Obi Belt for a Formal Kimono">
{{ end }}
  <h2 class="h2-responsive mt0 mb2">Welcome to the {{ .Title }} Section</h2>
  <p>
  {{ if eq .Title "Posts" }}
    {{ .Site.Params.postsblurb }}
  {{ end }}
  </p>
  <p>You can also filter by <a href="/topics">topic</a> or by <a href="/tags">tag</a>.</p>
</section>
{{ "<!-- LEAVING partial listtop_default_section.html -->" | safeHTML }}
