{{ "<!-- ENTERING partial listtop_home.html -->" | safeHTML }}
<div class="topgrid">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
                <h3>Welcome</h3>
                <p><em>I'm Rick Cogley</em>, and welcome to my site <strong>&laquo;Rick Cogley Central&raquo;</strong>, about my experiences with, and perspective on the technology I use, my hobbies & pasttimes, and life in Japan. I hope you'll find something informative in my content. &#9856;</p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
                <h3>About me</h3>
                <p>I've been helping businesses and visitors in Japan since 1987, and am the co-founder and <abbr title="Chief Executive Officer">CEO</abbr> of <a href="http://www.esolia.com" target="_blank">eSolia Inc</a>, my IT management firm. I like to create, manage, negotiate, drum, run, cycle and pay attention to the details. Read more on my <a href="/about" rel="author">bio page</a>. &#9859;&#9860;
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
                <h3>Content</h3>
                <p>Here you'll find my blog <a href="/post">articles</a> on topics such as <a href="/topics/japan">Japan</a>, my <a href="/topics/professional">professional</a> life, <a href="/topics/sysadmin">systems administration</a> tips & <a href="/topics">more</a>, as well as resource pages with FAQs or information for learners of Japanese. <em>Enjoy!</em> &#9861;</p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
                <h3>Yours Truly</h3>
                <p>
                    <figure>
                        <img class="pure-img" src="/img/rick-cogley-avatar-240x240.png" alt="Photo of Rick Cogley">
                    </figure>
                    <figcaption style="text-align: right;">&mdash; <em>Rick Cogley</em> &#9861;</figcaption>
                </p>
            </div>
        </div>

    <div class="pure-u-1">
        <hr class="sepchar" /> 
    </div>
</div>
{{ "<!-- LEAVING partial listtop_home.html -->" | safeHTML }}

