{{ "<!-- ENTERING partial listtop_taxo_topic.html -->" | safeHTML }}
<section id="topictop" class="py2 px4 m0 border-bottom white bg-darkgrey border-darken-4">
  <img class="sm-show right p2 circle" src="/img/Cogley-TopPhotos-HaseJizo-Color.jpg" alt="Jizo statues at Hase temple">
  <img class="sm-hide center p2 circle" src="/img/Cogley-TopPhotos-HaseJizo-Color.jpg" alt="Jizo statues at Hase temple">
  <h2 class="h2-responsive mt0 mb2">List of Content under &laquo;{{ .Title }}&raquo;</h2>
  <p>
    {{ .Site.Params.topicblurb }}
  </p>
</section>
{{ "<!-- LEAVING partial listtop_taxo_topic.html -->" | safeHTML }}
