{{ "<!-- ENTERING partial listtop_taxo_tag.html -->" | safeHTML }}
<section id="tagtop" class="py2 px4 m0 border-bottom white bg-darkgrey border-darken-4">
  <img class="xs-hide right p2 circle" src="/img/Cogley-TopPhotos-Enoden-Color.jpg" alt="Enoden train in Hase, Kamakura">
  <img class="sm-hide md-hide lg-hide center p2 circle" src="/img/Cogley-TopPhotos-Enoden-Color.jpg" alt="Enoden train in Hase, Kamakura">
  <h2 class="h2-responsive mt0 mb2">List of Content under &laquo;{{ .Title }}&raquo;</h2>
  <p>
    {{ .Site.Params.tagblurb }}
  </p>
</section>
{{ "<!-- LEAVING partial listtop_taxo_tag.html -->" | safeHTML }}
