{{ "<!-- ENTERING partial pagination.html -->" | safeHTML }}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

<nav class="rcc-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
  {{ if .Paginator.HasNext }}
  <a href="{{.Paginator.Next.URL}}" class="rcc-nav__button">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_back</i>
    </button>
    Older
  </a>
  {{ end }}
  <div class="section-spacer"> &nbsp;(Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}})&nbsp; </div>
  {{ if .Paginator.HasPrev }}
  <a href="{{.Paginator.Prev.URL}}" class="rcc-nav__button">
    Newer
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_forward</i>
    </button>
  </a>
  {{ end }}
</nav>

{{ end }}
{{ "<!-- LEAVING partial pagination.html -->" | safeHTML }}
