{{ "<!-- ENTERING partial sidebarsearch.html -->" | safeHTML }}
<div class="gcse-searchbox" data-resultsUrl="/search/"
data-newWindow="true" data-queryParameterName="search"> 
    <script>
      (function() {
        var cx = '018195656038046585595:v0aqyxd648a';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search linktarget="_parent"></gcse:search>
</div>
{{ "<!-- LEAVING partial sidebarsearch.html -->" | safeHTML }}

