{{ "<!-- ENTERING partial socialsharing.html -->" | safeHTML }}
<div class="social-sharing socialicons h3 p2 bg-darken-1">
	Please share this post:
	<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Tweet this on Twitter">
		<a onClick="return popupShare(this.href);" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" class="btn btn-primary px1 sans light bg-darken-1" target="_blank">
			<svg><use xlink:href="/img/symbol-defs.svg#icon-twitter" /></svg>
		</a>
	</span>
	<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="+1 this on Google Plus">
		<a onClick="return popupShare(this.href);" href="https://plus.google.com/share?url={{ .Permalink }}" class="btn btn-primary px1 sans light bg-darken-1" target="_blank">
			<svg><use xlink:href="/img/symbol-defs.svg#icon-google-plus2" /></svg>
		</a>
	</span>
	<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Like this on Facebook">
		<a onClick="return popupShare(this.href);" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="btn btn-primary px1 sans light bg-darken-1" target="_blank">
			<svg><use xlink:href="/img/symbol-defs.svg#icon-facebook2" /></svg>
		</a>
	</span>
	<span class="r-Tooltip r-Tooltip--top r-Tooltip--nowrap" data-r-tooltip="Share this on LinkedIn">
		<a onClick="return popupShare(this.href);" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Summary }}}&source={{ .Site.Title }}" class="btn btn-primary px1 sans light bg-darken-1" target="_blank">
			<svg><use xlink:href="/img/symbol-defs.svg#icon-linkedin" /></svg>
		</a>
	</span>
</div>
{{ "<!-- LEAVING partial socialsharing.html -->" | safeHTML }}
