{{ partial "header.html" . }}
<body>
{{ partial "bodytop.html" . }}
    <div class="rcc-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        <!--{{ partial "sidebar.html" . }}-->
        <!--{{ partial "hometop.html" . }}-->
      <main class="mdl-layout__content">
        <div class="rcc-blog__posts mdl-grid">
          <div class="mdl-card mdl-color--cyan bnr-enoshima-fuji-mono mdl-cell mdl-cell--8-col">
            <div class="mdl-card__media mdl-color-text--cyan">
              <h1>Rick Cogley Central</h1>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--white">
              <div class="minilogo"></div>
              <h4><em>Don't just consume; Create!</em></h4>
            </div>
          </div>
          <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
            <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
              <i class="material-icons mdl-color-text--white" role="presentation">favorite</i>
              <span class="visuallyhidden">add</span>
            </button>
            <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
              <img src="{{ .Site.Params.thumbnail }}">
              I'm Rick Cogley, and welcome to my site «Rick Cogley Central», about my experiences with, and perspective on the technology I use, my hobbies & pasttimes, and life in Japan. I hope you'll find something informative in my content. ⚀
            </div>
            <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
              <div>
                <strong>Navigation -></strong>
              </div>
              <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Message</li>
                <li class="mdl-menu__item">Favorite</li>
                <li class="mdl-menu__item">Search</li>
              </ul>
              <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">more_vert</i>
                <span class="visuallyhidden">show menu</span>
              </button>
            </div>
          </div>

          <a name="top"></a>
              {{ $Site := .Site }}
              {{ range .Paginator.Pages }}
                  {{ .Render "summary" }}
              {{ end }}
              {{ partial "pagination.html" . }}


        </div>
        {{ partial "footer.html" . }}
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
  {{ partial "afterbody.html" . }}
</html>
