.rccnav {
  display: inline-block;
  color: rgba(255, 255, 255, .95);
  /*vertical-align: text-bottom;*/
  /*margin: 0 .15em;*/
  /*border-radius: .2em;*/
  /*padding: .17em .4em .25em;*/
  /*font-size: 95%;*/
  /*line-height: 1;*/
  /*background-color: rgba(0, 0, 0, .5);*/
}
.rccnav svg {
  position: relative;
  /*bottom: .02em;*/
  display: inline-block;
  /*vertical-align: middle;*/
  width: 1.95em;
  height: 1.85em;
  fill: currentColor;
}
.rccpagination {
  display: inline-block;
  /*color: rgba(255, 255, 255, .95);*/
  /*vertical-align: text-bottom;*/
  /*margin: 0 .15em;*/
  /*border-radius: .2em;*/
  /*padding: .17em .4em .25em;*/
  /*font-size: 95%;*/
  /*line-height: 1;*/
  /*background-color: rgba(0, 0, 0, .5);*/
}
.rccpagination svg {
  position: relative;
  /*bottom: .02em;*/
  display: inline-block;
  /*vertical-align: middle;*/
  width: .9em;
  height: .8em;
  fill: currentColor;
}
