{{ "<!-- ENTERING layouts/taxonomy/tag.html -->" | safeHTML }}
{{ partial "header.html" . }}
<body class="charcoal bg-teal">
{{ partial "bodytop.html" . }}
{{ partial "headerbanner1.html" . }}
{{ partial "listtop_taxo_tag.html" . }}
<main class="m0 p4 bg-lightpaperfibers">
  {{ range .Data.Pages.GroupByDate "2006" }}
  <h4>{{ .Key }}</h4>
  <ul class="mb3">
    {{ range .Pages }}
      {{ .Render "li" }}
    {{ end }}
  </ul>
  {{ end }}
  <p>
    {{ partial "list_topics.html" . }}
    {{ partial "list_tags.html" . }}
  </p>
</main>
{{ partial "footer.html" . }}
{{ partial "bodyend.html" . }}
</body>
</html>
{{ "<!-- LEAVING layouts/taxonomy/tag.html -->" | safeHTML }}
